/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --hue: 14;
  --first-color: hsl(27, 96%, 47%);
  --first-color-alt: hsl(178, 55%, 42%);
  --title-color: 	hsl(27, 96%, 47%);
  --text-color: hsl(0, 0%, 24%);
  --text_cart: hsl(0, 0%, 10%);
  --title-color: hsl(27, 96%, 47%);
  --menu-color: hsl(27, 96%, 47%);
  --text-color-light: hsl(0, 100%, 82%);
  --text-color-menu: hsl(0, 0%, 100%);
  --text-color-hover: hsl(0, 0%, 85%);
  --scroll-color: hsl(44, 100%, 43%);
  --footer-color: hsl(23, 100%, 89%); 
  --body-color: hsl(0, 0%, 100%);

  /*Green gradient*/
  --container-color: linear-gradient(136deg, hsl(0, 0%, 100%) 0%, hsl(44, 100%, 88%) 100%);
   

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4{
  font-style: 'Roboto', 'Wellmere Sans';
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  font-style: 'Roboto', 'Wellmere Sans';
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section{
  padding: 7rem 0 2rem;
}

.section__title{
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  color: var(--first-color-alt);
  text-align: center;
}

/*=============== LAYOUT ===============*/


.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background: var(--menu-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  box-shadow: 0 15px 25px rgba(44, 44, 44, 0.15)
}

/*=============== NAV ===============*/

.nav{
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-medium);
  font-style: 'Roboto', 'Wellmere Sans';
  font-size: 2rem;
}

.nav__logo-img{
  width: 13rem;
}

.nav__link,
.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--text-color-menu);
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
  display: none;
}

.nav__img{
  width: 100px;
  position: absolute;
  top: 1;
  left: 1;
}

.nav__close{
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  right: .7rem;
  cursor: pointer;
  display: none;
}

.nav__list{
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 1.5rem;
}

.nav__link{
  font-weight: var(--font-black);
  transition: .4s;
  font-size: 1.2rem;
  color: var(--text-color-menu);
  text-transform: initial;
  font-weight: initial;
}

.nav__link:hover{
  color: var(--text-color-hover);  
  border-bottom: 1px solid var(--text-color-hover);
}

.nav__img{
  display: none;
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Change background header */
.scroll-header{
  background: var(--menu-color);
}

/* Active link */
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--menu-color);
  border-radius: 50%;
}

/*=============== HOME ===============*/
.home__content{
  row-gap: 3rem;
  gap: 3rem;
  margin-top: 4rem;  
  position: relative;
  z-index: 1;   
  padding: 0.5rem 0 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.home__group{
  display: grid;
  position: relative;
  padding-top: 0rem;
}

.home__logo-name{
    width: 78%; /* Full width (adjust if needed) */
    height: 23%;
}

.home__social-link{
  display: inline-flex;
  background: var(--text-color-menu);
  padding: .3rem;
  border-radius: .5rem;
  color: var(--first-color-alt);
  font-size: 2rem;
  margin: 0 10px;
  transition: transform 0.3s ease, color 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.home__social-link:hover {
  animation: buttonFloat 1.5s ease-in-out infinite;
}

.home {
  position: relative; /* Needed for absolute positioning of child elements */
}

.home__background {
  position: absolute; /* Takes the image out of normal document flow */
  top: -20%;
  left: 70%;
  opacity: 0.1; /* Adjust transparency (0.0 to 1.0) */
  z-index: 0; /* Places it behind other content */
  border-radius: 50rem;
}

.home__icon{
  position: absolute; /* Takes the image out of normal document flow */
  top: 70%;
  left: -40%;
  width: 50%; /* Full width (adjust if needed) */
  height: 70%;
  opacity: 0.1; /* Adjust transparency (0.0 to 1.0) */
  z-index: 0; /* Places it behind other content */
  border-radius: 50rem;
}

.home__img{
  height: 25rem;
  width: 35rem;
  justify-self: center;
  animation: floating 4s ease-in-out infinite;  
  transform: translateY(-3rem);
  box-shadow: 0 0 25px 12px rgba(9, 9, 9, 0.15);
  border-radius: 3rem;
}

.home__details-img{  
  position: absolute;
  right: .5rem;
  bottom: 0;
}

.home__details-title,
.home__details-subtitle{
  display: block;
  font-size: var(--small-font-size);
  text-align: right;
}

.home__subtitle{
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
  font-weight: 600;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  line-height: 100%;  
  margin-bottom: var(--mb-1-5);
}

.home__description{
  margin-bottom: var(--mb-2-5);
  text-align: justify;
  padding-right: 2rem;
}

.home__footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  z-index: 2;
  background-color: var(--first-color-alt);
  box-shadow: 0 4px 12px rgba(65,11,16,.15);
  border-radius: 1rem;
}

.home__footer-text {
  text-align: left;
  color: var(--text-color-menu);
  padding-left: 1rem;
  font-size: 2.5rem;
}

/*=============== BUTTONS ===============*/

.button__home{
  display: inline-block;
  background-color: var(--first-color-alt);
  color: var(--text-color-menu);
  padding: 1rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  font-weight: var(--font-medium);
  transition: .3s;
  z-index: 1;
  font-size: 1.5rem;
}

.button__home:hover{
  background-color: var(--first-color);
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--text-color-menu);
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
  z-index: 1;
}

.button:hover{
  background-color: var(--first-color);
}

.button__icon{
  font-size: 1.25rem;
}

.button--link{
  color: var(--text-color-menu);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

/*=============== ABOUT ===============*/

.about__container{
  grid-template-columns: repeat(2, 1fr);
  align-items: center;  
  row-gap: 2rem;
  padding: 2rem 0;
  column-gap: 3rem;
}

.about__title{
  text-align: initial;
  font-size: 2.5rem;
  color: var(--first-color-alt)
}

.about__data{
  text-align: initial;
}

.about__description{
  margin-bottom: var(--mb-2);
  text-align: justify;
}

.about__img{
  width: 400px;
  justify-self: center;
  animation: floating 2s ease-in-out infinite;
  border-radius: 3rem;
  box-shadow: 0 0 15px 6px rgba(9, 9, 9, 0.15);
}

.about__logo-name{
  height: 7rem;
  padding-bottom: 1rem;
}

/*=============== PRODUCT ===============*/


.product__container{
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  gap: 2rem;
}

.product__content{
  position: relative;
  background: var(--text-color-menu);
  border-radius: 1rem;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(65,11,16,.15);
}

.product__img{
  width: 110px;
  transition: .3s;
}

.product__subtitle,
.product__price{
  display: block;
}

.product__subtitle{
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-0-5);
}

.product__title,
.product__price{
  color: var(--text_cart);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.product__content:hover {
  transform: translateY(-.2rem);
  box-shadow: 0 2px 7px rgba(65,11,16,.15);
}

/*=============== FIND =================*/

.find{
  font-family: var(--body-font);
}

.find__content{
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.find__container {
  margin-bottom: 3rem;
  padding-top: 1rem;
  z-index: 1;
  background-color: var(--first-color-alt);
  border-radius: 2rem;
  box-shadow: 0 0 15px 6px rgba(9, 9, 9, 0.15);
  margin-top: 4.5rem;
}

.find__title{
  text-align: left;
  font-size: 2.5rem;
  color: var(--text-color-menu);
  margin-bottom: 1.5rem;
  font-family: var(--body-font);
}

.find__sub-title{
  text-align: left;
  font-size: 2rem;
  color: var(--text-color-menu);
  margin-bottom: 1.2rem;
  font-family: var(--body-font);
}

.location__container{
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; 
  column-gap: 3rem;
}

.address__container{
  position: relative;
  width: 250px;
  height: 250px;
  margin: 2rem auto; 
  border-radius: 12px;
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--text-color-menu);
  justify-content: left;
}

.map__container {
  position: relative;
  width: 250px; 
  height: 250px;
  margin: 2rem auto; 
  border-radius: 12px; 
  overflow: hidden; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.map__container:hover {
  transform: translateY(-5px); 
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15); 
}

.map__container iframe {
  display: block; 
  width: 250px; 
  height: 250px; 
  border: none; 
  filter: grayscale(10%) contrast(95%);
}

/* Optional: Add a pseudo-element for extra polish */
.map__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 20%
  );
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 1;
}

/*=============== FOOTER ===============*/

.footer{
  position: relative;
  overflow: hidden;
  background-color: var(--body-color);
}

.footer__background{
  position: absolute; 
  height: fit-content;
  width: 100%;
  opacity: 0.05; 
  z-index: 0;
  transition: opacity 1.5s ease-in-out;
}

.footer__container{
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 1rem;
  padding-top: 2.5rem;
  row-gap: 2rem;
  z-index: 1;
}

.footer__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.footer__logo-img{
  width: 8rem;
}

.footer__description{
  margin-bottom: var(--mb-2-5);
}

.footer__social{
  display: flex;
  column-gap: .75rem;
  justify-items: center;
}

.footer__social-link{
  display: inline-flex;
  background: var(--text-color-menu);
  padding: .3rem;
  border-radius: .5rem;
  color: var(--first-color-alt);
  font-size: 1rem;
  margin: 0 10px;
  transition: transform 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.footer__social-link:hover {
  animation: buttonFloat 1.5s ease-in-out infinite;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  color: var(--first-color-alt);
  text-align: center;
}

.footer__links{
  display: grid;
  row-gap: .35rem;
}

.footer__link{
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover{
  color: var(--title-color);
}

.footer__nav-item{
  font-size: var(--h4-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color);
}          

.footer__content{
  font-size: var(--small-font-size);
}

.footer__copy-container {
  text-align: center; 
  width: 100%;   
  margin: 1.5rem 0rem 1rem 0rem; 
}

.footer__copy{
  margin-top: 2rem;
  color: var(--text-color);
  font-size: smaller;
  opacity: .4; 
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background: var(--first-color-alt);
  right: .3rem;
  bottom: -20%;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon{
  font-size: .75rem;
  color: var(--text-color-menu);
  animation: floating 4s ease-in-out infinite;

}

.scrollup:hover{
  color: var(--text-color-light);
  opacity: 1;
}

.swiper-pagination{
  margin-top: var(--mb-2);
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb{
  background: #272525;
  border-radius: .5rem;
}

/*===============  BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){

}

@media screen and (max-width: 576px){

}



@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    width: 100vh;
    background: var(--menu-color);
    top: -150%;
    right: 0;
    padding: 3.5rem;
    transition: top 0.4s ease-in-out; /* Changed to only transition top property */
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
    height: 50vh; /* Full viewport height */
    overflow-y: auto;
  }

  .nav{
    height: 5rem;
  }

  .nav__toggle {
    display: block;
    z-index: var(--z-fixed); /* Ensure it stays above other elements */
  }

  .nav__close {
    display: block;
    z-index: var(--z-fixed) + 1; /* Ensure close button stays above menu */
  }

  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
    padding-top: 3rem; /* Add some space at the top */
  }

  .nav__link {
    font-size: 1.1rem;
    text-transform: initial;
    font-weight: initial;
    padding: 0.5rem 1rem; /* Add some padding for better touch targets */
  }

  .show-menu {
    top: 0 !important;
  }

}


@media screen and (max-width: 1000px){ 
  .container{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .home__content{
    row-gap: 3rem;
    gap: 2rem;
    margin-top: 4rem;  
  }
  

  .home__img{
    height: 20rem;
    width: 20rem;
    box-shadow: 0 0 15px 6px rgba(9, 9, 9, 0.15);
    border-radius: 2rem;
  }

  .home__logo-name{
    width: 15rem; /* Full width (adjust if needed) */
    height: 4rem;
  }

  .home__subtitle{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1);
    font-weight: 400;
  }

  .home__description{
    margin-bottom: var(--mb-2-5);
    text-align: left;
    padding-right: 1rem;
  }

  .home__footer {
    margin-top: 1.5rem;
  }
  
  .home__footer-text {
    text-align: left;
    font-size: 1.7rem;
  }

  .home__social-link{
    border-radius: .3rem;
    font-size: 1.5rem;
  }

  .address__container{
    margin: 1rem auto; /* Centers the container */
    border-radius: 8px; /* Soft rounded corners */
    width: 190px; /* Adjust max width as needed */
    height: 190px;
  }
  
  .map__container {
    width: 190px; /* Adjust max width as needed */
    height: 190px;
    margin: 1rem auto; /* Centers the container */
    border-radius: 8px; /* Soft rounded corners */
  }

  .find__title{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .find__sub-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .location__container{
    column-gap: 1rem;
  }

  .footer__content{
    font-size: var(--smaller-font-size);
  }

}



/*=============== KEYFRAMES ===============*/
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

@keyframes floatingTilt {
  0%, 100% {
    transform: translateY(-2px) rotate(-5deg);
  }
  50% {
    transform: translateY(2px) rotate(5deg);
  }
}

@keyframes buttonFloat {
  0%, 100% {
     transform: translateY(0) rotate(0deg);
  }
  25% {
     transform: translateY(-5px) rotate(2deg); 
  }
  50% {
     transform: translateY(0) rotate(-2deg);
  }
  75% {
     transform: translateY(-3px) rotate(1deg); 
  }
}